[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
pymongo = "*"
flask-login = "*"
flask-bcrypt = "==1.0.1"
python-dotenv = "*"
requests = "*"
dnspython = "*"  # Required for MongoDB Atlas connections
pytest = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.10"
